Repository DevExpress/devextreme-reactive, pull requests merged in 2022-04, with the labels that each got.

#3536 fix(react-chart): apply right series hatching color for 2 charts with same selection state
  packages/dx-react-chart/src/templates/series/area.test.tsx
  packages/dx-react-chart/src/templates/series/area.tsx
  packages/dx-react-chart/src/templates/series/bar.test.tsx
  packages/dx-react-chart/src/templates/series/bar.tsx
  packages/dx-react-chart/src/templates/series/slice.test.tsx
  packages/dx-react-chart/src/templates/series/slice.tsx
  packages/dx-react-chart/src/utils/with-pattern.tsx
Labels: bug, Chart

#3538 fix(core): Make dx-core type public for fix lib check react-grid compilation error
  packages/dx-core/merge-dts.js
  packages/dx-core/package.json
  packages/dx-core/src/index.ts
  packages/dx-core/src/types.ts
  packages/dx-core/tsconfig.dts.json
  packages/dx-grid-core/src/plugins/sorting-state/helpers.ts
  packages/dx-react-core/api/dx-react-core.api.md
  packages/dx-react-core/src/plugin-based/plugin.tsx
  packages/dx-react-core/src/types.ts
  packages/dx-react-grid/api/dx-react-grid.api.md
  packages/dx-react-grid/src/types/grouping/group-row.types.ts
  packages/dx-react-grid/src/types/index.ts
  packages/dx-react-grid/src/types/summary/table-summary-row.types.ts
  packages/dx-site/package.json
  yarn.lock
Labels: bug, STATE: Need response

#3540 fix(react-scheduler-material-ui): A circle icon doesn't apply a color set in a resource in an appointment tooltip
  packages/dx-react-scheduler-material-ui/src/templates/appointment-tooltip/content.jsx
Labels: bug, Scheduler

#3539 fix(react-grid-material-ui): Column headers are not fixed on vertical scrolling if the TableFixedColumns plugin is used (T1079942)
  packages/dx-react-grid-material-ui/src/templates/table-parts.jsx
  packages/dx-react-grid-material-ui/src/templates/utils.jsx
Labels: bug, Grid, STATE: Need response
